*{
  /* margin: 10px; */
}
.common-color {
  margin-top: 100px;
  margin-bottom: 200px;
  /* background-color: #d3e7f1; */
  background-color: #ECECEC;
}
.my-bootstrap-class {
  width: 300px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  overflow: hidden; /* Optional, to hide content if it exceeds the fixed dimensions */
}