*{
  /* margin: 10px; */
}
.common-color {
  margin-top: 100px;
  margin-bottom: 200px;
  /* background-color: #d3e7f1; */
  background-color: #ECECEC;
}
.my-bootstrap-class {
  width: 300px;  
  height: 200px;  
  overflow: hidden;  
}


 /***** Crowsel Section *****/
 
/***** End Section *****/